html, body {
    margin: 0;  /* margin adds space outside of an object */
    padding: 0; /* padding adds space inside of an object */
    width: 100%; /* set width of an object - % means that is the size relative of the container it is in - px is a static size */
    height: 100%; /* set height of object */

    box-sizing: border-box; /* padding and margin add to the total width of an object, box-sizing keeps it those numbers as part of what the width is set to */
}

body {
    background-color: #09c; /* Set the background color for the object target */
}

.background-layer {
    display: block; /* type of display you want the div to have */
    width: 100%;
    height: 100%;
    margin: 0 auto;

    position: fixed;
    left: 0;
    top: 100px;
    
    background-image: url('../images/yarn-wallpapers.jpg');
    background-color: #06a;
    filter: blur(10px);
    opacity: 0.7;
}

.main {
    display: block; /* type of display you want the div to have */
    width: 80%; 
    height: auto;
    margin: 0 auto; /* margin can have multiple values (shorthand) first value is top / bottom, second value is left / right */
}

.sidebar {

    display: block; /* type of display you want the div to have */
    width: 30%; 
    float: left;
    height: auto;

    position:relative;

    background-color: #BADA55;

    order: 1;
}

.container {

    display: block; /* type of display you want the div to have */
    width: 70%; 
    float: left;

    height: auto;
    margin: 0 auto; /* margin can have multiple values (shorthand) first value is top / bottom, second value is left / right */

    position:relative;

    order: 2;

}

/* see 02-template-css for explanation of clearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden;    } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* applying the same properties to 3 selectors, by using a comma */
h1, h2, h3 {
    color: #efefef; /* Color of text */
    font-family: Arial, Helvetica, sans-serif; /* font of text */
    text-align: center; /* alignment of text */
}

/* 
    adding specific properties to just h1 tag 
    note that you can target a selector multiple times, if the same properties are set then whatever is last counts
*/
h1 {
    margin-top:0;
    padding-top:20px;
    padding-bottom:50px;
}

.title {
    background-color: #09c; /* Set the background color for the object target */
    padding-bottom: 10px;
    order: 1;
}

h3 {
    color: #222;
}


.sidebar > ul {
    list-style-type: none;
    padding: 0;
    margin: 10px;
}

.sidebar > ul > li {
    display: grid;
    height: 50px;
    background-color: orange;
    text-align: center;
    margin: 10px auto;
    align-content: center;
}

.sidebar > ul > li:hover {
    background-color: darkgoldenrod;
    color: white;
    cursor: pointer;
}

/* a = anchor = hyperlink */
a { 
    color: #efefef;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 25px; /* set font size */
    padding: 10px;
}

/*  
    :hover is a pseudo element and can be attached to an element 
    :hover holds properties that are activated when you hover your mouse over an item, in this case a hyperlink 
*/
a:hover { 
    color: #0066cc; 
}

img {
    width: 100%; /* set only the width of an image, so that the aspect ratio is kept */
}

/* Create the yellow box behind the images */
.item {
    display: block;
    width: 40%;
    max-width: 200px; /* maximum width an object can be */
    background-color: #ffff0090; /* hex colors where the last 2 digits are the alpha */
    
    float:left; /* places the next object on the same line instead of the next line */
    margin-left: 5%; /* example of margin as longhand, setting the value to 5% only for the left */
    margin-bottom: 20px; /* add a gap to the bottom of each block */
    box-sizing: border-box;
}

